/* src/index.css */

/* Tailwind Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased; /* Optional: smooths fonts in WebKit */
  -moz-osx-font-smoothing: grayscale; /* Optional: smooths fonts in Firefox on macOS */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  /* Optional: used for <code> elements if your app displays code snippets */
}


